* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
li {
    list-style: none;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  
  .logo {
    margin-left: 50px; 
    margin-right: auto; 
  }
  
  .logo img {
    height: 60px;
    width: auto;
    display: block;
  }
  

