.site-footer {
    background-image: url('../../assets/img/footer-bg.jpg'); /* Percorso relativo all'immagine */
    background-size: cover; /* Copre l'intera area del footer */
    background-position: center; /* Centra l'immagine */
    color: white; /* Colore del testo, se presente */
    height: 400px;
 ;
  }
  