
  .site-footer {
    background-image: url('../../assets/img/footer-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  
  .footer-top {
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .footer-columns {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .footer-column h4 {
    color: white;
    margin-bottom: 1rem;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column li {
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .footer-subsection {
    margin-top: 1.5em;
  }
  
  /* Bottom section */
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    padding: 1.5rem 2rem;
    flex-wrap: wrap;
  }
  
  .signup-btn {
    margin-left: 8em;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    border: 2px solid #0282f9;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background-color: #0282f9;
    transition: 0.3s;
  }
  
  .social {
    margin-right: 10em;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .social span {
    color: #0282f9;
    font-weight: 700;
  }
  
  .social img {
    width: 24px;
    height: 24px;
    transition: filter 0.3s;
  }
  
  .social img:hover {
    filter: grayscale(0);
  }

  .footer-top {
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .footer-logo-bg {
    position: absolute;
    bottom: 0;
    right: 2rem;
    width: 200px;
    opacity: 0.1;
    transform: rotate(30deg);
    z-index: 1;
    pointer-events: none;
  }
 
  
  @media (max-width: 768px) {
    .footer-logo-bg {
      display: none;
    }
  }
  

  @media (max-width: 768px) {
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  
    .signup-btn {
      margin: 1rem auto;
      display: block;
      width: 80%;
      text-align: center;
    }
  
    .social {
      margin: 1rem auto;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .social span {
      display: none; /* Nasconde "FOLLOW US" */
    }
  }
  
  