
.services-bar {
    background-color: #0282f9; /* blu DC */
    padding: 2rem 0;
  }
  
  .services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  
  .services-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .services-list li:hover {
    transform: scale(1.05);
  }
  
  .services-list img {
    width: 40px;
    height: auto;
  }


  
  @media (max-width: 480px) {
    .services-list li {
      font-size: 0.7rem;
      gap: 0.4rem;
    }
  
    .services-list img {
      width: 35px;
    }
  }
  